<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProduitsLabel" jhiTranslate="g2SitApp.produits.home.createOrEditLabel">Create or edit a Produits</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
      <!--  <div class="form-group" [hidden]="!produits.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="produits.id" readonly />
        </div>-->
        <div class="form-group">
            <label jhiTranslate="g2SitApp.produits.categorie" for="field_categorie">Categorie</label>
            <select class="form-control" id="field_categorie" name="categorie" [(ngModel)]="produits.categorie"  required>
                <option [ngValue]="categorieOption.id === produits.categorie?.id ? produits.categorie : categorieOption" *ngFor="let categorieOption of categories; trackBy: trackCategorieById">{{categorieOption.nameCategorie}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="g2SitApp.produits.nameProduit" for="field_nameProduit">Name Produit</label>
            <input type="text" class="form-control" name="nameProduit" id="field_nameProduit"
                [(ngModel)]="produits.nameProduit" required />
            <div [hidden]="!(editForm.controls.nameProduit?.dirty && editForm.controls.nameProduit?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameProduit?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="g2SitApp.produits.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                [(ngModel)]="produits.reference"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="g2SitApp.produits.emplacement" for="field_emplacement">Emplacement</label>
            <input type="text" class="form-control" name="emplacement" id="field_emplacement"
                [(ngModel)]="produits.emplacement"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="g2SitApp.produits.description" for="field_description">Description</label>
            <textarea type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="produits.description" rows="3" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="g2SitApp.produits.capture" for="field_capture">Capture</label>
            <div>
                <img [src]="'data:' + produits.captureContentType + ';base64,' + produits.capture" style="max-height: 100px;" *ngIf="produits.capture" alt="produits image"/>
                <div *ngIf="produits.capture" class="form-text text-danger clearfix">
                    <span class="pull-left">{{produits.captureContentType}}, {{byteSize(produits.capture)}}</span>
                    <button type="button" (click)="clearInputImage('capture', 'captureContentType', 'fileImage')" class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="fileImage" (change)="setFileData($event, produits, 'capture', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="capture" id="field_capture"
                [(ngModel)]="produits.capture"  />
            <input type="hidden" class="form-control" name="captureContentType" id="field_captureContentType"
                [(ngModel)]="produits.captureContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="g2SitApp.produits.etat" for="field_etat">Etat</label>
            <select class="form-control" name="etat" [(ngModel)]="produits.etat" id="field_etat" >
                <option value="BON" jhiTranslate="g2SitApp.Etats.BON">BON</option>
                <option value="REPARATION" jhiTranslate="g2SitApp.Etats.REPARATION">REPARATION</option>
                <option value="GATER" jhiTranslate="g2SitApp.Etats.GATER">GATER</option>
            </select>
        </div>

        <div [hidden]="!(editForm.controls.stock?.dirty && editForm.controls.stock?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.stock?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>

        <div [hidden]="!(editForm.controls.categorie?.dirty && editForm.controls.categorie?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.categorie?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
