<div>
    <h2>
        <span jhiTranslate="g2SitApp.stock.home.title">Stocks</span>
        <button class="btn btn-primary float-right create-stock" [routerLink]="['/stock-new2']">
        <!--<button class="btn btn-primary float-right create-stock" [routerLink]="['/', { outlets: { popup: ['stock-new'] } }]">-->
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="g2SitApp.stock.home.createLabel">
            Create new Stock
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-7">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'g2SitApp.stock.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
        <div class=" col-sm-3 form-check custom-imp">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"  [(ngModel)]="modeimp" (change)="starMode($event)" >
               Mode impression
            </label>
        </div>
        <div class="col-sm-2 " [hidden]="!modeimp" >
            <essence-ng2-print
                [btnText]="'Imprimer'"
                [btnClass]="{'btn': true, 'btn-success': true, 'custom-imp':true}"
                [printHTML]="print_section"
                [printStyle]="printStyle"
                [printCSS]="printCSS"
                (printComplete)="printComplete()">
            </essence-ng2-print>
        </div>
    </div>
    <br/>
    <div id="print_section" #print_section>
    <div class="table-responsive" *ngIf="stocks">

        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">#</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantite"><span jhiTranslate="g2SitApp.stock.quantite">Quantite</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="g2SitApp.stock.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateentrer"><span jhiTranslate="g2SitApp.stock.dateentrer">Dateentrer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="retour"><span jhiTranslate="g2SitApp.stock.retour">Retour</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span jhiTranslate="g2SitApp.stock.comment">Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="produit.id"><span jhiTranslate="g2SitApp.stock.produit">Produit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="operantst.fistname"><span jhiTranslate="g2SitApp.stock.operantst">Operantst</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stock of stocks ; trackBy: trackId; let  i=index" [ngClass]="{'bg-danger': levelStock(stock.quantite), 'stockfinish': stockIsFinish(stock.quantite),'bg-success': stock.quantite > 50}" >
                <td><a [routerLink]="['../stock', stock.id ]">{{i+1}}</a></td>
                <td>{{stock.quantite}}</td>
                <td>{{stock.description}}</td>
                <td>{{stock.dateentrer | date:'medium'}}</td>
                <td>{{stock.retour}}</td>
                <td>{{stock.comment}}</td>
                <td>
                    <div *ngIf="stock.produit">
                        <a [routerLink]="['../produits', stock.produit?.id ]" >{{stock.produit?.nameProduit}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stock.operantst">
                        <a [routerLink]="['../operant', stock.operantst?.id ]" >{{stock.operantst?.fistname}}</a>
                    </div>
                </td>
                <td class="text-right" [hidden]="modeimp">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stock', stock.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stock/'+ stock.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="g2SitApp.stock.update">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                [routerLink]="['/', { outlets: { popup: 'stock/'+ stock.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="stocks && stocks.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>

</div>
