<!--
<div>
    <h2>
        <span jhiTranslate="g2SitApp.outStock.home.title">Out Stocks</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-5">
            <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
            <p class="d-flex">
                <span jhiTranslate="audits.filter.from" class="input-group-addon">from</span>
                <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="onChangeDate($event)" required/>
                <span jhiTranslate="audits.filter.to" class="input-group-addon">to</span>
                <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="onChangeDate($event)" required/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'g2SitApp.outStock.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="outStocks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="quantite"><span jhiTranslate="g2SitApp.outStock.quantite">Quantite</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="datesortir"><span jhiTranslate="g2SitApp.outStock.datesortir">Datesortir</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="projet"><span jhiTranslate="g2SitApp.outStock.projet">Projet</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="client"><span jhiTranslate="g2SitApp.outStock.client">Client</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="cause"><span jhiTranslate="g2SitApp.outStock.cause">Cause</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="operantos.fistname"><span jhiTranslate="g2SitApp.outStock.operantos">Operantos</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="produit.nameProduit"><span jhiTranslate="g2SitApp.outStock.produit">Produit</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let outStock of outStocks ;trackBy: trackId">
                <td><a [routerLink]="['../out-stock', outStock.id ]">{{outStock.id}}</a></td>
                <td>{{outStock.quantite}}</td>
                <td>{{outStock.datesortir | date:'medium'}}</td>
                <td>{{outStock.projet}}</td>
                <td>{{outStock.client}}</td>
                <td>{{outStock.cause}}</td>
                <td>
                    <div *ngIf="outStock.operantos">
                        <a [routerLink]="['../operant', outStock.operantos?.id ]" >{{outStock.operantos?.fistname}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="outStock.produit">
                        <a [routerLink]="['../produits', outStock.produit?.id ]" >{{outStock.produit?.nameProduit}}</a>
                    </div>
                </td>
                &lt;!&ndash;  <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                         <button type="submit"
                                 [routerLink]="['../out-stock', outStock.id ]"
                                 class="btn btn-info btn-sm">
                             <span class="fa fa-eye"></span>
                             <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                         </button>
                         <button type="submit"
                                 [routerLink]="['/', { outlets: { popup: 'out-stock/'+ outStock.id + '/edit'} }]"
                                 replaceUrl="true"
                                 class="btn btn-primary btn-sm">
                             <span class="fa fa-pencil"></span>
                             <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                         </button>
                         <button type="submit"
                                 [routerLink]="['/', { outlets: { popup: 'out-stock/'+ outStock.id + '/delete'} }]"
                                 replaceUrl="true"
                                 class="btn btn-danger btn-sm">
                             <span class="fa fa-remove"></span>
                             <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                         </button>
                     </div>
                </td>&ndash;&gt;
            </tr>
            </tbody>
        </table>
    </div>
    &lt;!&ndash; Pager is not implemented yet, so this is normal pagination instead &ndash;&gt;
    <div *ngIf="outStocks && outStocks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
-->


<div >
    <h2 >Rapport</h2>

    <div class="row">
        <div class="col-md-5">
            <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
            <p class="d-flex">
                <span jhiTranslate="audits.filter.from" class="input-group-addon">from</span>
                <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="onChangeDate($event)" required/>
                <span jhiTranslate="audits.filter.to" class="input-group-addon">to</span>
                <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="onChangeDate($event)" required/>
                <span  class="input-group-addon">Produits</span>

                <select (ngModelChange)="onChange($event)"  class="custom-select mb-2 mr-sm-2 mb-sm-0" id="field_produit" name="produit" [(ngModel)]="produit"  required>
                    <option [ngValue]="produitsOption.id " *ngFor="let produitsOption of produits; trackBy: trackProduitsById">{{produitsOption.nameProduit}}</option>
                </select>

            </p>
        </div>

    </div>

<!--
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
            <tr>
                <th (click)="orderProp = 'datesortir'; reverse=!reverse"><span>Date de Sortir</span></th>
                <th (click)="orderProp = 'produit.nameProduit'; reverse=!reverse"><span >Nom du produit </span></th>
                <th (click)="orderProp = 'client'; reverse=!reverse"><span >Client</span></th>
                <th (click)="orderProp = 'cause'; reverse=!reverse"><span >Projet</span></th>
            </tr>
            &lt;!&ndash; <tr>
                <th (click)="orderProp = 'datesortir'; reverse=!reverse"><span jhiTranslate="audits.table.header.date">Date</span></th>
                <th (click)="orderProp = 'produit.nameProduit'; reverse=!reverse"><span jhiTranslate="audits.table.header.principal">User</span></th>
                <th (click)="orderProp = 'client'; reverse=!reverse"><span jhiTranslate="audits.table.header.status">State</span></th>
                <th (click)="orderProp = 'cause'; reverse=!reverse"><span jhiTranslate="audits.table.header.data">Extra data</span></th>
            </tr>&ndash;&gt;
            </thead>
            <tr *ngFor="let rapport of getRapport()">
                <td><span>{{rapport.datesortir| date:'medium'}}</span></td>
                <td><small>{{rapport.quantite}}</small></td>
                <td>{{rapport.type}}</td>
                <td>
                    <span *ngIf="rapport.produit">{{rapport.produit.nameProduit}}</span>
                    <span *ngIf="rapport.produit" >{{rapport.produit.nameProduit}}</span>
                </td>
            </tr>
        </table>
    </div>
    &lt;!&ndash;<div *ngIf="audits">&ndash;&gt;
    <div>
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
-->
    <div>
        <h2>
            <span> RAPPORT </span>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'g2SitApp.historiques.home.search' | translate }}">
                        <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th (click)="orderProp = 'id'; reverse=!reverse"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                    <th (click)="orderProp = 'operation'; reverse=!reverse"><span jhiTranslate="g2SitApp.historiques.operation">Operation</span> <span class="fa fa-sort"></span></th>
                    <th (click)="orderProp = 'date'; reverse=!reverse"><span jhiTranslate="g2SitApp.historiques.date">Date</span> <span class="fa fa-sort"></span></th>
                    <th (click)="orderProp = 'user.login'; reverse=!reverse"><span jhiTranslate="g2SitApp.historiques.user">User</span> <span class="fa fa-sort"></span></th>
                    <th (click)="orderProp = 'stocks.produit.nameProduit'; reverse=!reverse"><span jhiTranslate="g2SitApp.historiques.stocks">Stocks</span> <span class="fa fa-sort"></span></th>
                    <th (click)="orderProp = 'outs.produit.nameProduit'; reverse=!reverse"><span jhiTranslate="g2SitApp.historiques.outs">Outs</span> <span class="fa fa-sort"></span></th>
                    <th (click)="orderProp = 'outs.produit.da'; reverse=!reverse"><span >Date Entrer</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let historiques of getRapport()">
                    <td><a [routerLink]="['../historiques', historiques.id ]">{{historiques.id}}</a></td>
                    <td>{{historiques.operation}}</td>
                    <td>{{historiques.date | date:'medium'}}</td>
                    <td>
                        {{historiques.user?.login}}
                    </td>
                    <td>
                        <div *ngIf="historiques.stocks">
                            <a [routerLink]="['../stock', historiques.stocks?.id ]" >{{historiques.stocks?.produit.nameProduit}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="historiques.outs">
                            <a [routerLink]="['../out-stock', historiques.outs?.id ]" >{{historiques.outs?.produit.nameProduit}}</a>
                        </div>
                    </td>
                    <td>{{ historiques.stocks ?(historiques.stocks?.dateentrer | date:'medium' )  : historiques.outs?.datesortir | date:'medium'}}</td>
                    <!--<td>{{  historiques.stocks?.dateentrer ? historiques.outs?.datesortir : historiques.outs   | date:'medium'}}</td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../historiques', historiques.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="out_rapport && out_rapport.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div><!-- <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="operation"><span jhiTranslate="g2SitApp.historiques.operation">Operation</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="date"><span jhiTranslate="g2SitApp.historiques.date">Date</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="user.login"><span jhiTranslate="g2SitApp.historiques.user">User</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="stocks.produit.nameProduit"><span jhiTranslate="g2SitApp.historiques.stocks">Stocks</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="outs.produit.nameProduit"><span jhiTranslate="g2SitApp.historiques.outs">Outs</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let historiques of out_rapport">
                    <td><a [routerLink]="['../historiques', historiques.id ]">{{historiques.id}}</a></td>
                    <td>{{historiques.operation}}</td>
                    <td>{{historiques.date | date:'medium'}}</td>
                    <td>
                        {{historiques.user?.login}}
                    </td>
                    <td>
                        <div *ngIf="historiques.stocks">
                            <a [routerLink]="['../stock', historiques.stocks?.id ]" >{{historiques.stocks?.produit.nameProduit}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="historiques.outs">
                            <a [routerLink]="['../out-stock', historiques.outs?.id ]" >{{historiques.outs?.produit.nameProduit}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../historiques', historiques.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'historiques/'+ historiques.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'historiques/'+ historiques.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        &lt;!&ndash; Pager is not implemented yet, so this is normal pagination instead &ndash;&gt;
        <div *ngIf="out_rapport && out_rapport.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>-->

</div>
